<head>
  <title>
    The Bruce Zeth Spectrum
  </title>
</head>
<header>
  <div class="container">
    <a href="#" class="logo">The Zeth Bruce Spectrum</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Test</a></li>
        <li><a href="#" routerLink="/list">Stuff</a></li>
      </ul>
    </nav>
  </div>
</header>
<body>
  <div id="us" class="about">
    <h3>About Us</h3>
    <p id="about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lectus proin nibh nisl condimentum id venenatis. Magna ac placerat vestibulum lectus mauris ultrices. Scelerisque felis imperdiet proin fermentum leo vel orci porta. Eros in cursus turpis massa tincidunt. Lacinia at quis risus sed vulputate odio. Habitasse platea dictumst quisque sagittis purus sit amet volutpat consequat. Consequat semper viverra nam libero justo laoreet sit amet. Id semper risus in hendrerit gravida rutrum quisque non tellus. Et egestas quis ipsum suspendisse ultrices gravida dictum fusce ut. Amet cursus sit amet dictum sit amet justo donec. Orci phasellus egestas tellus rutrum tellus pellentesque eu. Tempor nec feugiat nisl pretium fusce id velit ut. Ut morbi tincidunt augue interdum. Vitae justo eget magna fermentum.</p>
  </div>
  <div id="listen" class="listen">
    <h3>Listen to our podcast on Anchor!</h3>
    <iframe src="https://anchor.fm/bruce-zeth/embed" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
  </div>
</body>


<div class="container">
<router-outlet></router-outlet>
</div>